<div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="brand_select">Brands:</label>
          <select
            class="form-control"
            name=""
            id="brand_select"
            [(ngModel)]="selectedBrand">
            <option *ngFor="let brand of brands" [value]="brand">{{
              brand
            }}</option>
          </select>
        </div>
        <ul class="list-group">
          <li class="list-group-item">Menu 1</li>
          <li class="list-group-item">Menu 2</li>
          <li class="list-group-item">Menu 3</li>
        </ul>
      </div>
      <div class="col-md-9">
        <div class="container">
          <div class="row">
            <div class="col-sm-4 mb-2" *ngFor="let product of productList | filterByBrand : selectedBrand">
              <app-product-card [product]="product"></app-product-card>
            </div></div>
        </div>
        <!--/.Card-->
      </div>
    </div>
  </div>
  